<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	
	<display-name>CRM Web-Application</display-name>

    <servlet>
         <servlet-name>CustomerManager</servlet-name>
        <servlet-class>ch.ilv.crm.webclient.servlet.CRMServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/crm-app</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
